body {
  background-image: url(purple-stars-bg.gif);
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #000;
  font-family: Consolas, monospace;
  color: white;
  font-size: medium;
}

.content {
  max-width: 540px;
  background-color:rgba(40, 48, 48, 0.75);
  margin:18px auto 0px auto;
  padding:  4px;
  width: 95%;
}

.content p {
    margin-left: 10px;
    line-height: 1.5;
}

#banner, #navbar {
margin-top: 18px;
width: 300px;
text-align: center;
font-weight: 700;
color: white;
font-size: 30px;
padding: 4px;
}

#navbar {
    font-size: 15px;
    margin-top: 6px;
}

hr {
    width: 350px;
    margin-top:  18px;
}

.footer {
    position:fixed;
    bottom: 0px;
    width:  100%;
    text-align: center;
}

#blinkies {
    margin: 5px auto 0px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

#blinkie {
width: 20%;
}

h2 {
    text-align: center;
    margin: 0px;
}

#media {
    text-align: center;
}

.subtext {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
    letter-spacing: 5px;
    color: darkgray;
    font-family: monospace;
}

#banner-subtext {
    color: fuchsia;
    animation: rainbow-color-change 8s infinite linear;
    margin-top: 5px;
    
}

@keyframes rainbow-color-change {
    0% {
      color: red;
    }
    14.28% {
      color: orange;
    }
    28.57% {
      color: yellow;
    }
    42.85% {
      color: green;
    }
    57.14% {
      color: blue;
    }
    71.42% {
      color: blueviolet;
    }
    85.71% {
      color: fuchsia;
    }
    100% {
      color: red;
    }
}